.fa-snowflake {
    color: #fff;
    position: absolute;
    top: -20px;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(300vh);
    }
}

.main-content {
    margin-left: 5%;
    margin-right: 5%;
}